<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Subscriber!</title>
</head>


<body style="height: 100vh;margin: 0;border: 0;box-sizing: border-box">
    <header
        style="background: linear-gradient(to right,#002A34, #b1b7b8 );text-align: center;text-transform: uppercase;padding: 1px;font-weight: bold;color: white;letter-spacing: 1.5px;font-size: 1.3rem;">
        <p>CONSTANCE HOSPITALITY</p>
    </header>

    <main style="margin-left: 2rem;color:black">
        <h3>Hello,</h3>
        <p>We {{hotelName}},{{Location}} thank you for giving us an opportunity to serve you on {{arrivalData}}. This is
            the
            confirmation for the booking requested by you. To pay online, click on the button below:</p>
        <button style="backgroundColor:#002A34, color:white, fontWeight:bolder">
            <a href="https://www.constancehospitality.com/en/history/"> Click here for payment</a>
        </button>

        <p>I`m here to answer each and every question you have so feel free to shoot me an email and I`ll get back to
            you ASAP!</p>
        <p>Super excited to for your stay at our hotel.</p>
        <p>Regards,</p>
        <h3 style="color:#002A34">The Constance Team.</h3>
    </main>
</body>

</html>